
/*Big Device*/
@media screen and (min-width: 1600px) and (max-width: 1920px) {
	/*home page*/
	.mega-menu{
		position: absolute;
	}

}

/* (1366x768) WXGA Display */

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	/*home page*/
	.mega-menu{
		position: absolute;
	}

	/*about page*/
	.news-latter-content{
		margin-top: 60px;
	}
}



/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
	/*home page*/
	.mega-menu{
		position: absolute;
	}
	.exo-menu>li>a {
	    padding: 20px 11px;
	    font-size: 13px;
	}
	.masthead-inner {
	    transform: skew(0deg);
	    width: 100%;
	    margin-left: 0;
	}
	.masthead-content {
	    transform: skew(0deg);
	}
	.masthead-item {
	    padding: 40px 15px;
	    padding-top: 90px;
	}
	.masthead-item:first-child {
	    padding-left: 15px;
	}
	.figure-rating {
	    right: 11px;
	    top: 9px;
	    font-size: 23px;
	    line-height: 51px;
	    height: 68px;
	    line-height: 61px;
	    width: 64px;
	}

	/*about page*/
	.news-latter-content{
		margin-top: 40px;
	}

	/*best pick detials*/
	.category_list .item.i4 {
	    width: calc(100% * (1/3) - 10px);
	    margin: 0 5px;
	}

	/*search page*/
	.shop-rlt-pr{
		margin-bottom: 20px;
	}


}



/* Normal desktop :991px. */

@media (min-width: 768px) and (max-width: 991px) {
	/*home page*/
    .fixed-nav{
		position: absolute!important;
	}
	.masthead-inner {
	    transform: skew(0deg);
	    width: 100%;
	    margin-left: 0;
	}
	.masthead-content {
	    transform: skew(0deg);
	}
	.masthead-item {
	    padding: 40px 15px;
	}
	.masthead-item:first-child {
	    padding-left: 15px;
	}
	.masthead-area {
	    margin-top: 59px;
	}
	.counter-inner{
		padding-bottom: 60px;
	}
	.item.b2x1 .content h3 {
	    font-size: 19px;
	}
	.item.b2x1 .content {
	    width: 100%;
	    margin: 0;
	    padding: 15px;
	    position: inherit;
	    background: #252524;
	}
	.item.b2x1 .content {
	    width: 100%;
	    bottom: 0;
	}
	.ft-v-content h3 {
	    font-size: 22px;
	    line-height: 30px;
	}
	.ft-v-play {
	    height: 100px;
	    width: 100px;
	    line-height: 100px;
	    font-size: 28px;
	    margin: auto;
	    margin-bottom: 26px;
	}

	/*about page*/
	.h1, h1 {
	    font-size: 2rem;
	}
	.news-latter-content{
		margin-top: 20px;
	}
	/*review page*/
	.review_list .item .item_details .video{
		width: 32%;
	}
	.review_list .item .item_details .review_rating_div{
		width: 32%;
	}
	.category_list .i4 {
    	width: calc(100% * (1/2) - 10px);
	    float: left;
	    margin: 0 5px;
	}

	/*bet pick page*/
	.best_pick_f_s{
		margin-top: 70px!important;
	}
	.review_pros_cons .product_info .price_list{
		bottom: -30px;
	}
	.best_pick_review {
	    padding: 0;
	}

	/*deals*/

	.item.hr .product_info .product_name {
	    font-size: 23px;
	}
	.item.hr .product_image {
	    width: 100%;
	    float: none;
	}
	.item.thumbnail{
		width: 48%!important;
	}

	/*news details*/
	.next_prev_items .item{
		margin-bottom: 40px;
	}

	/*search page*/
	.shop-rlt-pr{
		margin-bottom: 20px;
	}
	.search-result-item figure{
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	.search-result-item figure img{
		height: auto;
		width: auto;
		max-width: 100%;
	}
	.c-price-right{
		text-align: left;
		margin: 10px;
	}



}



/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 100%
    }
    /*home page*/
    .fixed-nav{
		position: absolute!important;
	}
	.masthead-inner {
	    display: block;
	    transform: skew(0deg);
	    width: 100%;
	    margin-left: 0;
	    padding: 0 15px;
	}
	.masthead-item:first-child {
	    padding-left: 15px;
	}
	.masthead-item:first-child, .masthead-item:last-child {
	    width: 100%;
	}
	.masthead-content {
	    transform: skew(0deg);
	}
	.masthead-item {
	    padding: 20px 15px;
	    margin-bottom: 20px;
	}
	.masthead-area {
	    margin-top: 73px;
	}
	.cdown .time-count{
	  font-size: 40px;
	  line-height: 50px;
	}
	.countdown {
	    padding: 40px 20px;
	}
	.counter-content h4 {
	    font-size: 23px;
	}
	.counter-inner{
		padding-bottom: 50px;
	}
	.item.b2x1 .content h3 {
	    font-size: 19px;
	}
	.item.b2x1 .content {
	    width: 100%;
	    margin: 0;
	    padding: 15px;
	    position: inherit;
	    background: #252524;
	}
	.item.b2x1 .content {
	    width: 100%;
	    bottom: 0;
	}
	.ft-v-content h3 {
	    font-size: 22px;
	    line-height: 30px;
	}
	.ft-v-play {
	    height: 100px;
	    width: 100px;
	    line-height: 100px;
	    font-size: 28px;
	    margin: auto;
	    margin-bottom: 26px;
	}
	.widget-company .fsocial li a img {
	    max-width: 28px;
	}
	.widget-company .fsocial li a {
	    margin-right: 3px;
	}
	.widget-company,
	.middle-widget{
		margin-bottom: 60px;
	}
	.footer-nav-list {
	    float: none;
	    margin-top: 20px;
	    text-align: center;
	}
	.footer-nav-list li{
		float: none;
	}

	/*review page*/
	.prod-slider{
		margin-top: 59px;
	}

	.review_list .item .item_details .video a{
		    margin: 0;
		    padding: 0;
		    height: 80px;
		    width: 80px;
		    line-height: 80px;
	}

	/*review page*/
	.review_list .item .item_details .info {
	    width: 100%;
	    padding: 15px;
	}
	.review_list .item .item_details .info, .review_list .item .item_details .video {
	    float: none;
	}
	.review_list .item .item_details .review_rating_div {
	    width: 100%;
	    float: none;
	}
	.review_list .item .item_details .video {
	    width: 100%;
	}
	/*Best pick details*/
	.category_list .item.i3{
		width: 100%;
	}
	.category_list .i4 {
    	width: 100%;
	}

	/*bet pick page*/
	.best_pick_f_s{
		margin-top: 70px!important;
	}
	.header_div .heading {
	    font-size: 25px;
	}
	.best_pick_f_s .header_div {
		padding: 10px 15px!important;
	}
	.pros{
		margin-bottom: 60px;
	}
	.review_pros_cons {
	    padding: 20px 0px 0;
	}
	.best_pick_review h1 {
	    font-size: 24px;
	}
	.best_pick_review {
	    padding: 0;
	}
	.review_pros_cons .product_image {
	    width: 100%;
	    float: none;
	}
	.review_pros_cons .product_info{
		padding-left: 0;
	}
	.review_pros_cons h3 {
	    font-size: 19px;
	}
	.review_pros_cons .product_info .price_list {
	    position: inherit;
	    margin-top: 30px;
	}
	.item.i4 {
	    width: 100%;
	    margin: 0 0 20px;
	}
	.may_also_like .item{
		width: 100%;
		float: none;
		margin: 0 0 20px;
	}

	/*best deal*/
	.item.hr .product_image {
	    width: 100%;
	    float: none;
	}
	.item.hr .product_info .product_name {
	    font-size: 23px;
	}
	.item.thumbnail{
		width: 100%!important;
		float: none;
	}

	/*news details*/
	.header_div {
	    margin-top: 150px;
	}
	.next_prev_items .item{
		margin-bottom: 40px;
	}
	.newsletter_div h1 {
	    font-size: 24px;
	}
	.newsletter_div{
		padding: 0;
	}

	/*nes review details */
	.review_compare_rating .item{
		width: 100%;
	}
	.projects-section.best_pick_f_s .common_div h2{
		min-height: auto!important;
	}

	/*search page*/
	.search-result-item{
		margin-top: 40px;
		overflow: hidden;
	}
	.search-result-item figure{
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	.search-result-item figure img{
		height: auto;
		width: auto;
		max-width: 100%;
	}
	.shop-rlt-pr{
		margin-bottom: 10px;
	}
	.c-price-right {
		margin-top: 10px;
	    text-align: left;
	}





}



/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*home page*/

	/*about page*/
	.h1, h1 {
	    font-size: 1.6rem;
	}
	.news-latter-content{
		margin-top: 0;
	}
	.news-latter-content h4 {
	    font-size: 29px;
	}

}



/* small mobile :320px. */

@media (min-width: 240px) and (max-width: 479px) {
	/*home page*/
	.titleGroup h2 {
	    font-size: 13px;
	    float: none;
    	display: block;
	}
	.titleGroup a.allLink {
	    font-size: 12px;
	    float: none;
	}
	.h1, h1 {
	    font-size: 22px;
	}
	.news-latter-content{
		margin-top: 0;
	}
	.news-latter-content h4 {
	    font-size: 25px;
	}
	.news-latter-content input{
		width: 100%;
		margin-bottom: 30px;
	}

}