!
 * Start Bootstrap - Grayscale v5.0.2 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

/*
 maga menu
 */

body {
    margin: 0;
    padding: 0;
    font: 300 14px/18px Roboto;
    background-image: url('../images/texture.png');
}


*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease 0s;
}

a,
a:hover,
a.active,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

h2,h3,h4,h5,h6,p,a{
  letter-spacing: 0;
}


/*--------------------------
  17. Padding top
---------------------------*/
.pt--0 { padding-top: 0!important;}
.pt--10 { padding-top: 10px ;}
.pt--15 { padding-top: 15px ;}
.pt--20 { padding-top: 20px ;}
.pt--30 { padding-top: 30px ;}
.pt--40 { padding-top: 40px ;}
.pt--50 { padding-top: 50px ;}
.pt--60 { padding-top: 60px ;}
.pt--70 { padding-top: 70px ;}
.pt--80 { padding-top: 80px ;}
.pt--90 { padding-top: 90px ;}
.pt--100 { padding-top: 100px ;}
.pt--110 { padding-top: 110px ;}
.pt--120 { padding-top: 120px ;}
.pt--130 { padding-top: 130px ;}
.pt--140 { padding-top: 140px ;}
.pt--150 { padding-top: 150px ;}
.pt--160 { padding-top: 160px ;}
.pt--170 { padding-top: 170px ;}
.pt--180 { padding-top: 180px ;}
.pt--190 { padding-top: 190px ;}

/*------------------------
  18. Padding bottom
---------------------------*/
.pb--0 { padding-bottom: 0!important;}
.pb--10 { padding-bottom: 10px;}
.pb--15 { padding-bottom: 15px;}
.pb--20 { padding-bottom: 20px;}
.pb--30 { padding-bottom: 30px;}
.pb--40 { padding-bottom: 40px;}
.pb--50 { padding-bottom: 50px;}
.pb--60 { padding-bottom: 60px;}
.pb--70 { padding-bottom: 70px;}
.pb--80 { padding-bottom: 80px;}
.pb--90 { padding-bottom: 90px;}
.pb--100 { padding-bottom: 100px;}
.pb--110 { padding-bottom: 110px;}
.pb--120 { padding-bottom: 120px;}
.pb--130 { padding-bottom: 130px;}
.pb--140 { padding-bottom: 140px;}
.pb--150 { padding-bottom: 150px;}
.pb--160 { padding-bottom: 160px;}
.pb--170 { padding-bottom: 170px;}
.pb--180 { padding-bottom: 180px;}
.pb--190 { padding-bottom: 190px;}


/*------------------------------
  19. Page section padding 
-------------------------------*/
.ptb--0 { padding: 0!important;}
.ptb--10 { padding: 10px 0 ;}
.ptb--20 { padding: 20px 0 ;}
.ptb--30 { padding: 30px 0 ;}
.ptb--40 { padding: 40px 0 ;}
.ptb--50 { padding: 50px 0 ;}
.ptb--60 { padding: 60px 0 ;}
.ptb--70 { padding: 70px 0 ;}
.ptb--80 { padding: 80px 0 ;}
.ptb--90 { padding: 90px 0 ;}
.ptb--100 { padding: 100px 0 ;}
.ptb--110 { padding: 110px 0 ;}
.ptb--120 { padding: 120px 0 ;}
.ptb--130 { padding: 130px 0 ;}
.ptb--140 { padding: 140px 0 ;}
.ptb--150 { padding: 150px 0 ;}
.ptb--160 { padding: 160px 0 ;}
.ptb--170 { padding: 170px 0 ;}
.ht_mt-75{
    margin-top: 75px;
}


.fixed-nav {
    /* top: 0; */
    right: 0;
    left: 0;
    z-index: 1030;
    position: absolute;
    -webkit-transition: background 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
}

#mainNav {
    position: relative;
}

.exo-menu {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    /* position:relative; */
    background: transparent;
}

.white-header .exo-menu>li>a,
#home.exo-menu>li>a {
    color: #fff;
}

.exo-menu>li {
    display: inline-block;
}
/*.exo-menu>li:nth-last-child(2){
  margin-left: auto;
}*/

.exo-menu>li>a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}

.exo-menu>li>a.active,
.exo-menu>li>a:hover,
li.drop-down ul>li>a:hover {
    /* background:#009FE1; */
    color: #000;
}

.exo-menu>li>a.active #mainNav,
.exo-menu>li>a:hover #mainNav {
    background-color: #fff;
}

.exo-menu i {
    font-size: 18px;
    margin-right: 6px;
    line-height: 20px !important;
}
.ht-login-btn a{
    height: 43px;
    padding: 0 15px!important;
    line-height: 40px;
    border: 2px solid #000;
}
.white-header .ht-login-btn a{
  border: 2px solid #fff;
}

li.drop-down,
.flyout-right,
.flyout-left {
    position: relative;
}

li.drop-down:before {
    content: "\f103";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    display: inline;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 14px;
}

li.drop-down>ul {
    left: 0px;
    min-width: 230px;

}

.drop-down-ul {
    display: none;
}

.flyout-right>ul,
.flyout-left>ul {
    top: 0;
    min-width: 230px;
    display: none;
    border-left: 1px solid #365670;
}

li.drop-down>ul>li>a,
.flyout-right ul>li>a,
.flyout-left ul>li>a {
    color: #fff;
    display: block;
    padding: 20px 22px;
    text-decoration: none;
    background-color: #365670;
    border-bottom: 1px dotted #547787;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}

.flyout-right ul>li>a,
.flyout-left ul>li>a {
    border-bottom: 1px dotted #B8C7BC;
}

.col-20 {
    width: 20%;
    float: left;
    padding: 0 15px;
}


#header_a_d {
    width: 100%;
    float: left;
}

#header_a_d>img {
    width: 100%;
}

#social_icons {
    float: left;
}

#social_icons li {
    float: left;
    margin: 20px 2px;
}

#social_icons li.hide {
    display: none;
}

/* #social_icons li a { } */

#show_icon {
    padding-left: 5px;
    float: left;
}

/*Flyout Mega*/
.flyout-mega-wrap {
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    display: none;
    height: 100%;
    padding: 15px;
    min-width: 742px;

}

h4.row.mega-title {
    color: #eee;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.flyout-mega ul>li>a {
    font-size: 90%;
    line-height: 25px;
    color: #fff;
    font-family: inherit;
}

.flyout-mega ul>li>a:hover,
.flyout-mega ul>li>a:active,
.flyout-mega ul>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important
}

/*mega menu*/
#search {
    color: #fff;
}

#search_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

#search_div.hide {
    display: none;
}

#search_div input.form-control {
    border-radius: 0;
    height: 45px;
    padding-left: 45px;
}

#search_div .input-group {
    position: relative;
}

#search_div .input-group .search_icon {
    z-index: 10;
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 20px;
}

#search_div .input-group #search_close {
    width: 70px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* .ui-autocomplete { position: absolute !important; } */
.ui-autocomplete .ui-menu-item {
    background-color: #fff;
    color: #000;
}


.block_layout.two .item.b1x1 figure {
    margin-bottom: 1rem;
}

.mega-menu {
    left: 0;
    right: 0;
    padding-bottom: 15px;
    padding-top: 0;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    padding: 0 75px 15px;
}

.mega-drop-down:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}

h4.mega-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 15px;
}

.mega-menu ul li a {
    line-height: 25px;
    font-size: 90%;
    display: block;
    color: #000;
}

a.view-more {
    border-radius: 1px;
    margin-top: 15px;
    background-color: #009FE1;
    padding: 2px 10px !important;
    line-height: 21px !important;
    display: inline-block !important;
}

a.view-more:hover {
    color: #fff;
    background: #0DADEF;
}

ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}

.stander{}
.stander li{}
.stander li a{}

/*Blog DropDown*/
.Blog {
    left: 0;
    display: none;
    color: #fefefe;
    padding-top: 15px;
    background: #547787;
    padding-bottom: 15px;
}

.Blog .blog-title {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;

}

.Blog .blog-des {
    color: #ccc;
    font-size: 90%;
    margin-top: 15px;
}

.Blog a.view-more {
    margin-top: 0px;
}

/*Images*/
.Images {
    left: 0;
    width: 100%;
    display: none;
    color: #fefefe;
    padding-top: 15px;
    background: #547787;
    padding-bottom: 15px;
}

.Images h4 {
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
}

/*common*/
.flyout-right ul>li>a,
.flyout-left ul>li>a,
.flyout-mega-wrap,
.mega-menu {
    background-color: #fff;
}

/*hover*/
.Blog:hover,
.Images:hover,
.drop-down-ul:hover,
li.flyout-left>ul:hover,
li.flyout-right>ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover+ul,
li.flyout-right a:hover+ul,
.blog-drop-down>a:hover+.Blog,
li.drop-down>a:hover+.drop-down-ul,
.images-drop-down>a:hover+.Images,
li.flyout-mega>a:hover+.flyout-mega-wrap {
    display: block;
}

.mega-drop-down a:hover {
    color: red;
}

a.toggle-menu {
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 27px;
    background-color: #ccc;
    color: #23364B;
    top: 0px;
}

/*mobile menu*/
.slicknav_menu {
    background: #292929;
    padding: 0;
}
.slicknav_btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 0;
}
.slicknav_nav .slicknav_arrow {
    float: right;
}
.slicknav_open >a.slicknav_item,
a.slicknav_item:hover {
        background: #118eca;
    border-radius: 0;
}
.slicknav_nav .mega-menu {
    background: transparent;
    visibility: visible;
    opacity: 1;
}

.slicknav_nav .slicknav_item {
    display: flex;
    justify-content: space-between;
}
.slicknav_nav .slicknav_item:hover {
        background: #118eca;
    border-radius: 0;
}

.slicknav_nav h4.mega-title{
    padding: 0;
    margin: 0;
}

.slicknav_nav .mega-menu ul li a {
    color: #fff;
    padding: 0;
}
.slicknav_nav .mega-menu ul li a:hover{
    background: #118eca;
    border-radius: 0;
    padding-left: 5px;
    color: #fff;
}
.slicknav_nav a:hover{
    background: #118eca;
    border-radius: 0;
    color: #fff;
}
/*responsive*/
@media (min-width:767px) {
    .exo-menu>li>a {
        display: block;
        padding: 20px 22px;
    }
    .exo-menu>li:first-child>a {
      padding-left: 0;
    }

    .flyout-mega-wrap,
    .Images,
    .Blog,
    .flyout-right>ul,
    .flyout-left>ul,
    li.drop-down>ul {
        position: absolute;
    }

    .flyout-right>ul {
        left: 100%;
    }

    .flyout-left>ul {
        right: 100%;
    }
}


/*
*/

#mainNav {
    min-height: 56px;
    /* background-color: transparent !Important; */
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

/* masthead area end */
.masthead-area {
    overflow: hidden;
}

.masthead-inner {
    display: flex;
    justify-content: space-between;
    transform: skew(-23deg);
    width: 116%;
    margin-left: -8%;
}

.masthead-item {
    /* flex: 1; */
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.masthead-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;
    transition: all 0.3s ease 0s;
}

.masthead-item:hover::before {
    opacity: 0.7;
}

.masthead-item:first-child,
.masthead-item:last-child {
    width: 40%;
}

.masthead-item:first-child {
    padding-left: 9%;
}

.masthead-item:last-child {
    padding-right: 9%;
}

.masthead-item {
    display: block;
    padding: 10% 70px;
    position: relative;
}

.masthead-content {
    transform: skew(23deg);
}

.masthead-content h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 20px;
}

.masthead-item:first-child h2,
.masthead-item:last-child h2 {
    font-size: 24px;
}

.masthead-content p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.masthead-content span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0;
    font-weight: 600;
}

.masthead-content span a {
    display: inline-block;
    color: #fff;
    margin-left: 3px;
}

.masthead-content span a:hover {
    color: #d83737;
}

.masthead-item>a {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: -1;
}

/*counter area*/
.counter-inner{
  background: url(../img/counter-bg.jpg) center/cover no-repeat;
}
.countdown{
  padding: 40px 70px;
}
.countdown >div{
  display: flex;
  justify-content: space-between;
}
.cdown{
  text-align: center;
}
.cdown .time-count{
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
}
.cdown p{
  margin-top: 10px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
}

/*counter-content*/
.counter-content{
  text-align: center;
}
.counter-content h4{
      font-size: 30px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.counter-content p{
      color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
}
.counter-content a{
      display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background: #118eca;
    padding: 10px 15px;
    letter-spacing: 0;
    border-radius: 3px;
    margin-top: 13px;
}


/* masthead area end */

#post_details {
    margin-top: 75px;
}

#post_details .post_heading {
    color: #000;
    font-size: 24px;
}



.btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: .8rem 1.5rem;
    /* font-family: 'Varela Round'; */
    /* font-size: 80%; */
    text-transform: uppercase;
    /* letter-spacing: .15rem; */
    border: 0;
    line-height: 1;
}

.btn-primary {
    background-color: #64a19d;
}

.btn-primary:hover {
    background-color: #4f837f;
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}

.about-section {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 30px 0;
    overflow: hidden;
}

.titleGroup {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid #188CC7;
}

.titleGroup p {
    font-size: 16px;
}

.titleGroup h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    background-color: #188CC7;
    padding: 4px 10px;
    margin: 0;
    color: #fff;
}

.titleGroup a.allLink {
    color: #000;
    font-weight: bold;
    float: right;
}

.post_categories {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.post_categories li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #E6E6E6;
}

.post_categories li a {
    color: #000;
    display: block;
}

.post_categories li .category_icon {
    width: 50px;
    float: left;
}

.post_categories li h4 {
    font-size: 14px;
    font-weight: bold;
}

.post_categories li p {
    margin: 0;
}

.latestScrollItems {
    padding-top: 15px;
}

.latestScrollItems h3 {
    font-size: 20px;
    font-weight: bold;

}

.latestScrollItems a {
    color: #000;
}

.latestScrollItems p {
    margin-bottom: 0;
}

.latestScrollItems .item {
    margin: 0 0 30px 0;
}

.latestScrollItems .item .time {
    float: left;
    text-align: center;
        width: 70px;
    margin-right: 30px;
}

.latestScrollItems .item .time span {
    display: inline-block;
    font-size: 14px;
}
.latestScrollItems .item .featured-icon {
    background: #188cc7;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
        color: #fff;
    letter-spacing: 0;
}
.latestScrollItems .item .featured-icon span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
}

.latestScrollItems .item .content {
   overflow: hidden;
}

.latestScrollItems .item .content .info {
    width: 79.29688%;
    float: left;
}

.latestScrollItems .item .content .media {
    width: 17.1875%;
    margin-left: 3.51563%;
    float: left;
    margin-bottom: 0;
    border: none;
    padding: 0;
}

.latestScrollItems .loadMoreButton a{
      color: #2a93c7;
    background: transparent;
    border: 2px solid #2a93c7;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 13px;
}

body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
}



.bg-black {
    background-color: #161616 !important;
}

/* .container { width: 1254px; } */

img {
    width: 100%;
    height: auto;
}


.item {
    position: relative;
    float: left;
}

.item .mainLink {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.item figure {
    position: relative;
    margin: 0;
}

.figure-category{
      position: absolute;
    left: 30px;
    top: 30px;
    background: #01c3e6;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 11px;
    padding: 3px 12px;
    border-radius: 2px;
}
.figure-rating{
    position: absolute;
    right: 21px;
    top: 18px;
    background: #fff;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    color: #fff;
    line-height: 51px;
    height: 90px;
    line-height: 85px;
    width: 81px;
    text-align: center;
    padding: 4px;
}
.b1x1 .figure-rating{
    line-height: 68px;
    width: 65px;
    height: 73px;
    font-size: 25px;
}

.figure-rating-inner{
      height: 100%;
    width: 100%;
    background: #118eca;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.item {
    margin-bottom: 1rem;
}

.item.b2x1 .content {
    width: 61%;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 0;
    margin: 0 30px;
}

.item.cont-wide .content {
  width: 90%;
}

.item.b2x1 .content h3 {
    font-size: 2em;
    line-height: 1.14286em;
    margin-bottom: 15px;
    font-weight: bold;
}

.item.sm-h2 .content h3 {
   font-size: 1.5em;
}
.item.cont-b12x4 .content h3 {
    font-size: 18px;
}

.item.b2x1 .content h3 a {
    color: #fff;
}

.item.b2x1 .content p{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

.item .content .author {
    color: #fff;
}
.item .content .author span{
  font-size: 10px;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-right: 10px;
  font-weight: 500;
}
.item .content .author span strong{
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 3px;
}

.item.b1x1 .content .author i{
  margin-right: 3px;
}
.col-sm-6 .col-sm-6 .item .content h3,
.col-md-6 .col-md-6 .item .content h3,
.col-xl-6 .col-xl-6 .item .content h3,
.col-lg-6 .col-lg-6 .item .content h3 {
    font-size: 16px;
}


/*
.item.b1x1 {
    width: 48.54369%;
    margin-right: 2.87081%;
    margin-bottom: 15px;
}

.item.b3x1 {
    margin-right: 1.43541%;
    margin-bottom: 15px;
}*/

.item.big {
    width: 100%;
}

.item.big figure img {
    height: 250px;
}

.two_item .item.b1x1:nth-child(2n) {
    margin-right: 0;
}

.item.txt_over {
    position: relative;
    height: auto !important;
}

.item.txt_over .content {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
}

.item.txt_over figure {
    margin: 0;
}

.item.txt_over .content h3 a {
    color: #fff !important;
}

.item.txt_over .content .author {
    color: #fff !important;
}

.item.thumbnail {
    width: 23.92344% !important;
    height: 294px;
    margin-right: 1.43541% !Important;
    margin-bottom: 14.5px;
    float: left;
}

.block_layout {
    width: 100%;
}

.block_layout>.item:last-child {
    margin-right: 0 !Important;
}

.block_layout.two .item.b1x1:nth-child(4n) {
    margin-right: 0 !Important;
}

.block_layout.how_to .big {
    margin-right: 0 !Important;
}

.block_layout.how_to .item:nth-child(3n) {
    margin-right: 0 !Important;
}

/*.block_layout .col-sm-6:first-child {
    padding-right: 0.717705% !Important;
}

.block_layout .col-sm-6:last-child {
    padding-left: 0.717705% !Important;
}*/

.items_right .item.b1x1:nth-child(2n) {
    margin-right: 0 !Important;
}

.block_layout.how_to .item.b2x2 {
    width: 49.28354%;
    margin-right: 1.43541%
}

.block_layout.two .item.b1x1 {
    /* height: 370px; */
}

.item.b1x2 {
    width: 100%;
}

.item.b1x2 .content h3 {
    font-size: 24px;
}

.review_figure i {
    color: brown;
    font-size: 14px;
    margin-right: 2px;
}

.review_post_list .item:nth-child(5n) {
    margin-right: 0;
}


.item.b1x1 h3 {
    max-height: 65px;
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-top: 15px;
}

.item.b1x1 .content h3 a {
    color: #000;
}

.item.b1x1 .content .author {
    color: #555;
}
.item.b1x1:nth-child(3n+1) {
    margin-right: 0;
}

.item.b1x1 .tag-deal {
    bottom: 0;
    position: absolute;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    padding: 10px 15px 8px 15px;
    font-weight: bold;
    font-size: 12px;
    z-index: 1;
}

.tag-deal {
    background-color: rgba(5, 176, 245, 0.7);
}

.item.b1x1 .meta {
    position: absolute;
    right: 10px;
    color: #fff;
    bottom: 7px;
}

.item .desc {
    font-size: 16px;
}

.item.b1x1 .meta .deal-salePrice {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.item figure:before,
[class="i10c-mark-cssrule"] {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.item:not(.b1x1) figure:before,
.item.type-content-deal figure:before,
[class="i10c-mark-cssrule"] {
    background: rgba(0, 0, 0, 0.05) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.75) 100%);
}

.item .socialCTALink,
.item .author,
.item .meta,
.-ekxlihglboxEblmbgzAbzaebzaml .asset .content .assetAuthor,
.-ekxlihglboxEblmbgzYxtmnkxl .assetByline,
.-ekxlihglboxEtmxlm .latestScrollContainer .item .author,
.-ekxlihglboxEtmxlm.alternate .item .assetInfo .contentType,
.shortcode.video.v2 .videoMeta,
[class="i10c-mark-cssrule"] {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hotProuct .item .content {
    margin-left: 0;
    width: 100%;
}

.hotProuct .item .content .info {
    width: 78%;
}

.hotProuct .item .content .info h3 {
    font-size: 16px;
}

.hotProuct .item .content .media {
    width: 16%;
}


.pagination {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
    text-align: center;
}

.pagination ul {
    margin: 0 auto;
}

.pagination ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.pagination ul li a {
    color: brown;
    text-transform: uppercase;
}

.pagination ul li.prev {
    margin-right: 20px;
}

.pagination ul li.next {
    margin-left: 20px;
}




.video_section {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    overflow: hidden;
    background: url(../img/bg/video-bg.jpg) center/cover no-repeat;
}
.video_section:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.video_section .titleGroup{
  border-bottom: none;
}
.video_section .titleGroup h2{
  background: transparent;
}

.video_section .titleGroup {
    width: 100%;
    position: relative;
    pointer-events: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 2;
}

.video_section .mainLink {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.video_section .mainImage img,
.video_section .mainImage video {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.video_section .col-3 {
    width: 23.92344%;
    position: relative;
}

.video_section .icon-container svg {
    height: 170px;
}

.video_section .icon-container svg {
    left: 0;
    width: 100%;
    margin: 25% 0 0 0;
    height: 160px;
}

.video_section .mainContent {
    height: 322px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    pointer-events: none;
    margin-left: 1.43541%;
}

.video_section .col-6 {
    width: 49.2823%;
    position: relative;
}

.video_section .mainTitle {
    line-height: 55px;
    font-size: 55px;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    font-family: Proxima Nova, sans-serif;
    margin-bottom: 10px;
}

.video_section .mainContent .meta {
    position: relative;
}

.video_section .items h3,
.video_section .items h3,
.video_section .items h3 a {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    min-height: 72px;
}
.ft-v-play{
      height: 150px;
    width: 150px;
    line-height: 150px;
    border: 5px solid #aea6a7;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 53px;
    background: rgba(33, 31, 31, 0.84);
    margin: auto;
}
.ft-v-content h3{
      font-size: 60px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
}
.content .duration,
.ft-v-content .duration{
      color: #bdb2b2;
}
.content .duration i,
.ft-v-content .duration i{
  font-size: 10px;
  margin-right: 4px;
}
.{}
.{}
.{}

/* new css */
.common_div {
    width: 100%;
    float: left;
    padding: 20px 15px 15px;
    border-width: 5px 1px 1px;
    border-color: #188CC7 #E6E6E6 #E6E6E6;
    border-style: solid;
    margin-bottom: 15px;
    box-shadow: 0px 3px 5px #E6E6E6;
}

.common_div h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.common_div h3 {
    font-size: 20px;
    font-weight: bold;
}

.common_div h4 {
    font-size: 16px;
    font-weight: bold;
}

.common_div h5 {
    font-size: 13px;
    font-weight: bold;
}

.common_div .news_post {
    width: 100%;
    float: left;
}

.common_div .news_post .news_post_chunk {
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 0;
}

.common_div .news_post .news_post_chunk .news_post_item {
    width: 49%;
    float: left;
    margin-bottom: 15px;
}

.common_div .news_post .news_post_chunk .news_post_item.full {
    width: 100%;
    margin-right: 0;
}

.common_div .news_post .news_post_chunk .half:nth-child(2n+1) {
    margin-right: 0;
}

.common_div .news_post .news_post_chunk .half {
    margin-right: 2%
}

.sidebar_news_post {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.sidebar_news_post .sidebar_news_post_item {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    float: left;
}

.sidebar_news_post .sidebar_news_post_item figure {
    margin: 0;
}

.sidebar_news_post .sidebar_news_post_item img {
    width: 100px;
    float: left;
}

.sidebar_news_post .sidebar_news_post_item .heading {
    padding-left: 110px;
    font-size: 13px;
}

.sidebar_news_post .sidebar_news_post_item.first img {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar_news_post .sidebar_news_post_item.first .heading {
    padding: 0;
}

.sidebar_topic {
    width: 100%;
    float: left;
    margin: 15px 0 0;
    padding: 0;
    list-style-type: none;
}

.sidebar_topic li {
    width: 50%;
    float: left;
    padding: 7px 10px 7px 0;
}

.sidebar_topic li a {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sidebar_review {
    width: 100%;
    float: left;
}

.sidebar_review .sidebar_review_item .item {
    width: 100%;
    float: left;
    position: relative;
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}

.sidebar_review .sidebar_review_item .item .details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 80px 15px 15px;
}

.sidebar_review .sidebar_review_item .item .details h3 {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.sidebar_review .sidebar_review_item .item .rating_div {
    width: 50px;
    float: right;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
}

.sidebar_review .sidebar_review_item .item .rating_div .rate {
    position: absolute;
    width: 50px;
    right: 0;
    bottom: 18px;
    z-index: 1;
}

.hexagon {
    position: relative;
    width: 50px;
    height: 28.87px;
    background-color: #188CC7;
    margin: 14.43px 0;
    border-left: solid 4px #ffffff;
    border-right: solid 4px #ffffff;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 35.36px;
    height: 35.36px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 3.3223px;
}

.hexagon:before {
    top: -17.6777px;
    border-top: solid 5.6569px #ffffff;
    border-right: solid 5.6569px #ffffff;
}

.hexagon:after {
    bottom: -17.6777px;
    border-bottom: solid 5.6569px #ffffff;
    border-left: solid 5.6569px #ffffff;
}
/*
.col-sm-8,
.col-sm-6,
.col-sm-3 {
    padding-right: 10px;
}

.col-sm-4,
.col-sm-6,
.col-sm-9 {
    padding-left: 10px;
}*/

figure {
    margin: 0;
}

.sidebar_category_post {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.category_item {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.category_item figure img {
    width: 42%;
    float: left;
}

.category_item .info {
    padding-left: 45%;
}

.category_item .info .heading {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.category_item .info .date {
    font-size: 8px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.category_item .info .details {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    min-height: 50px;
}

.category_item .info .price {
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
    color: #05b0f4;
    text-align: right;
}

.btn-default {
    background-color: #05b0f4;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.btn.btn-xs {
    padding: 6px 10px;
    font-size: 10px;
}

.newsletter_div {
    padding: 20px;
    text-align: center;
}

.newsletter_div h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.newsletter_div p {
    font-size: 16px;
    margin-bottom: 10px;
}


.next_prev_items {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.padding_none {
    padding: 0 !important;
}

.margin_none {
    margin: 0 !important;
}

.margin_bottom_none {
    margin-bottom: 0 !important;
}

/* best_pick */
.best_pick {
    width: 100%;
    float: left;
}

.best_pick .best_pick_table>tbody>tr>td {
    width: 9.09091%;
    padding: 0 5px;
    text-align: center;
}

.best_pick .best_pick_table>tbody>tr:first-child td {
    background-color: #fff !important;
    text-align: left !important;
    font-weight: bold;
}

.best_pick .best_pick_table>tbody>tr td:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.best_pick .best_pick_table>tbody>tr td:first-child {
    background-color: #f3f3f3;
    font-size: 11px;
    font-weight: bold;
}

.best_pick .best_pick_table .product_name {
    min-height: 80px;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0;
}

.best_pick .best_pick_table .product_price {
    color: #1691cb;
    font-weight: bold;
}

.best_pick .best_pick_table .vandor {
    font-weight: bold;
    font-size: 12px;
}

.best_pick .best_pick_table .editor_choice {
    color: #930707;
    font-size: 9px;
    margin: 10px 0;
    text-transform: uppercase;
}

.best_pick .best_pick_table .rating_star {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.best_pick .best_pick_table .rating_star li {
    font-size: 11px;
    float: left;
}

.best_pick .best_pick_table p {
    margin: .5rem 0 !important;
}

.best_pick_review {
    padding: 0 5%;
}

.best_pick_review h1 {
    font-size: 36px;
    font-weight: bold;
    color: #05b0f4
}


.heading_div {
    text-align: center;
    padding: 125px 0 50px;
}

.heading_div h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.heading_div p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.common_heading_div {
    background-color: #188CC7;
}

.common_heading_div h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #fff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.common_div .category_list {
    float: left;
}

.common_div .category_list li {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 10px;
}



.border_top_10x {
    border-top-width: 10px;
}

.border_top_0 {
    border-top-width: 0;
}


.item.i3 {
    width: 32.5%;
    margin-right: 1.2%;
}

.item.i3:nth-child(3n) {
    margin-right: 0;
}

.item .product_name {
    margin: 10px 0;
}

.item.hr {
    width: 100%;
    float: left;
    box-shadow: 0px 3px 5px #E6E6E6;
    border: 1px solid #E6E6E6;
    position: relative;
}

.item.hr .product_image {
    width: 45%;
    float: left;
}

.item.hr .product_image img {
    width: 100%;
}

.item.hr .product_info {
    width: auto;
    overflow: hidden;
    padding: 10px;
}

.item.hr .product_info .product_name {
    margin-top: 0;
}

.item.hr .product_info .date {
    font-size: 12px;
}

.item.hr .product_info_bottom {
    width: 52%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}

.item.hr .product_info_bottom .product_price {
    font-size: 14px;
    font-weight: bold;
    color: #188CC7;
    float: right;
}

.item.hr .product_info_bottom .social_link ul {
    display: inline;
}

.item.hr .product_info_bottom .social_link span {
    float: left;
    margin-right: 5px;
    font-size: 11px;
}

.item.hr .product_info_bottom .social_link ul li {
    float: left;
    width: 17px;
    height: 17px;
    background-color: #cccccc;
    margin-right: 5px;
    text-align: center;
    font-size: 12px;
    line-height: normal;
    border-radius: 2px;
}

.item.hr .product_info_bottom .social_link ul li a {
    color: #fff;
    font-size: 10px;
}

.about_us ul{
  margin-bottom: 30px;
}
.about_us a {
    font-weight: bold;
    margin-bottom: 7px;
    display: inline-block;
}

.subscribe_section {
    width: 100%;
    float: left;
    background-image: url('../img/img1.jpg');
    background-position: center;
    background-size: cover;
    padding: 200px 0 70px;
}

.subscribe_form {
    text-align: center;
}

.subscribe_form input {
    width: 245px;
    display: inline-block;
    border-radius: 20px;
    -webkit-boder-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.subscribe_form .btn {
    border-radius: 20px;
    -webkit-boder-radius: 20px;
    padding: .8rem 2.5rem
}

.subscribe_form input::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.subscribe_form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.subscribe_form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.footer_section{
  background: #000;
  padding: 50px 0;
}

.footer_section .col-sm-4,
.footer_section .col-sm-6,
.footer_section .col-sm-9 {
    padding-left: 30px;
    padding-right: 30px;
}

footer .container {
    max-width: 1600px;
}
.footer-bottom{
  border-top: 1px dashed #3a3838;
  padding: 20px 0;
  background: #000;
}
.copy-right{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.footer-nav-list {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-nav-list li{
  display: inline-block;
}
.footer-nav-list li a{
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.footer-nav-list>li {
    float: left;
    margin-right: 10px;
}

.footer_b_post {
    width: 100%;
    float: left;
}

.footer_b_post_info {
    width: 70%;
    float: left;
    padding-right: 20px;
    text-align: left;
}
.footer_b_post{
    border-bottom: 1px solid #333333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer_b_post-area li:last-child .footer_b_post{
  border: none;
  margin: 0;
  padding: 0;
}
.middle-widget {
    border-left: 1px dashed #3c3939;
    border-right: 1px dashed #3c3939;
}

.footer_b_post_info h3 {
font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 22px;
}
.footer_b_post_info p{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
}

.footer_b_post_media {
    width: 30%;
    float: right;
}

.footer_b_post_media img {
    width: 100%;
}

.footer_title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed #383636;
    padding-bottom: 15px;
}

.footer-nav-list li a {
    color: #fff;
}
.widget-company{}
.flogo a{
  display: inline-block;
}
.widget-company p{
      font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
}
.widget-company .address{
  margin-top: 30px;
}
.widget-company .address li{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.widget-company .address li i{
  font-size: 13px;
  margin-right: 5px;
}
.widget-company .fsocial{
  margin-top: 40px;
}
.widget-company .fsocial li{
  display: inline-block;
}
.widget-company .fsocial li a{
  margin-right: 10px;
}
.widget-company .fsocial li a img{
  max-width: 40px;
}

#flickr li {
    width: 25%;
    padding: 1px;
    float: left;
}

#flickr li .f_image {
    width: 100%;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_footer_post {
    width: 100%;
    float: left;
    border-top: 5px solid #009FE1;
    box-shadow: 1px 3px 7px #E6E6E6;
    padding: 10px;
}

.product_footer_post .post_header h2 {
    color: #000;
    font-size: 24px;
    margin: 0 0 10px;
}

.rating {
    list-style-type: none;
    float: left;
    margin-top: 3px;
}

.rating li {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background-color: #dc3545;
    margin-right: 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.product_footer_post .rating_txt {
    color: brown;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product_footer_post .rating_feature {
    background-color: brown;
    padding: 2px 8px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.product_footer_post .product_info {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.product_footer_post .product_info .product_image {
    width: 165px;
    float: left;
}

.product_footer_post .product_info .product_details {
    width: auto;
    overflow: hidden;
    padding-left: 10px;
}

.product_footer_post .product_info .product_details .product_price {
    font-size: 16px;
    font-weight: bold;
    color: #009FE1;
    margin-bottom: 5px;
}

.product_footer_post .product_info .product_details p {
    font-size: 11px;
    margin-bottom: 0;
}

.product_footer_post .product_info .product_details .market {
    font-size: 10px;
    color: #000;
    font-weight: lighter;
}

.product_footer_post .product_info .product_details .btn-danger {
    padding: 5px 10px;
}

.mar_top_20px {
    margin-top: 20px !important;
}

.mar_top_70px {
    margin-top: 75px !important;
}

.media {
    border-top: 1px solid #E6E6E6;
    padding: 10px 0;
}

.media-left {
    width: 100px;
    float: left;
}

.media-body {
    width: auto;
    overflow: hidden;
    padding-left: 10px;
}

.media-heading {
    font-size: 16px;
    font-weight: bold;
}

.sidebar_links {
    margin-bottom: 10px;
}

.sidebar_links li {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.sidebar_links li a {
    font-weight: bold;
}

.review_list .item {
    width: 100%;
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
}

.review_list .item .review_details p strong {
    font-weight: bold;
}

.review_list .item .review_head {
    width: 100%;
    margin-bottom: 15px;
}

.review_list .item .review_head .review_prduct_img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.review_list .item .review_head .review_prduct_mate {
    width: auto;
    overflow: hidden;
}

.review_list .item .review_head .review_prduct_mate .review_product_name {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.review_list .item .review_head .review_prduct_mate .review_product_msrp_price {
    color: #E6E6E6;
    margin: 5px 0;
}

.review_list .item .review_head .review_prduct_mate .review_product_new_price {
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.btn-sm {
    padding: 10px 0;
    font-size: 10px;
}

.btn-xs {
    padding: 3px 10px;
    font-size: 12px;
}

.project-section p strong {
    font-weight: bold;
}

.review_rating {
    width: 100%;
    float: left;
    position: relative;
}

.review_rating .review_ribbon {
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
}

.review_rating .review_ribbon img {
    width: 100%;
}

.review_rating .rating_rate {
    width: 100px;
    float: left;
    margin-right: 15px;
    text-align: center;
}

.review_rating .rating_info {
    width: auto;
    overflow: hidden;
    padding-right: 115px;
}

.review_rating .rating_info>ul li {
    margin-bottom: 15px;
    line-height: 1;
}

.review_rating .rating_info>ul li .rate {
    width: 30px;
    float: left;
}

.review_rating .rating_info>ul li {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.review_rating .rating_info>ul li p {
    margin-bottom: 0;
    font-size: 12px;
}

.review_rating .rating_info>ul li .pull-right {
    float: right;
}

.review_rating .rating_info>ul li .progress {
    height: 5px;
}

.review_rating .rating_info>ul li .progress .progress-bar {
    background-color: #05b0f4;
    border-top-right-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
    -moz-border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    -webkit-border-bottom-right-radius: .25rem;
    -moz-border-bottom-right-radius: .25rem;
}

.review_rating.item h5 {
    margin: 15px 0;
}

.review_rating .price {
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    color: #b80000;
}

.review_rating .price .vandor {
    font-weight: normal;
    color: #ddd;
}

.item.i6 {
    width: 16.66667%;
    padding-right: 1%;
}

.item.i6:last-child {
    padding-right: 0;
}

.width_100p {
    width: 100% !important;
    float: left;
    padding: 0 !important;
}


.breadcrumb_l li {
    float: left;
    padding-right: 25px;
    position: relative;
}

.breadcrumb_l li::after {
    content: ">";
    color: #b80000;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
}

.breadcrumb_l li.active::after {
    content: "";
}

.breadcrumb_l li a {
    color: #E6E6E6;
    font-size: 12px;
}

.breadcrumb_l li.active {
    color: #000;
}




.compare_product .item {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.compare_product .item .heading {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    left: 7px;
}

.shop_related_product .item {
    height: auto;
}

.shop_related_product .item p {
    margin: 10px 0;
}

.shop_related_product .item h3 {
    font-size: 16px;
    margin: 10px 0 0;
}

.shop_related_product .item .price_info {
    margin-top: 5px;
    color: #b80000;
    font-size: 12px;
    font-weight: bold;
}

.shop_related_product .item .price_info span {
    color: #E6E6E6;
}

.shop_related_product .item .old_price_info {
    color: #E6E6E6;
    font-size: 10px;
    font-weight: bold;
    text-decoration: line-through;
}

.shop_related_product .item .item_image {
    position: relative;
}

.shop_related_product .item .item_image .rating {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.shop_related_product .item .item_image .rating li {
    float: left;
    font-size: 12px;
    color: #fff;
    background-color: transparent;
}




.media-heading {
    margin-bottom: 5px;
}


.header_div {
    margin-top: 200px;
    background-color: #fff;
    padding: 10px 15px;
    text-align: center;
    color: #000;
}

.header_div .category_link {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.header_div .heading {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    line-height: 38px;
}

.header_div .heading_second {
    font-size: 24px;
    line-height: normal;
}

.header_div .mate {
    font-size: 12px;
    text-transform: uppercase;
}

.header_div .social_link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.header_div .social_link li {
    float: left;
    padding: 0 5px;
}

.header_div .social_link li a {
    color: #000;
}

.news_details p:first-child::first-letter {
    -webkit-initial-letter: 3 3;
    initial-letter: 3 3;
    margin: 0 .5em 0 0;
    float: left;

    font-size: 36px;
    font-weight: bold;
}

.news_details a {
    color: red;
}

.news_details a.btn {
    margin-top: 30px;
    ;
}

.news_details img {
    margin-bottom: 15px;
}

.news_details .btn-default.white {
    background-color: #fff;
    color: #05b0f4;
    border: 1px solid #05b0f4;
}

.next_prev_items .item {
    position: relative;
}

.next_prev_items .item .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 15px 25px;
}

.next_prev_items .item .info h3 {
    color: #fff;
    font-size: 16px;
}

.next_prev_items .item a.link {
    width: 90%;
    position: absolute;
    bottom: -15px;
    left: 5%;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: #05b0f4;
    padding: 10px;
    line-height: 1;
    text-transform: uppercase;
}

.read_more_new {
    width: 100%;
    float: left;
}

.item.i4 {
    width: 23.95%;
    margin-right: 1.4%;
}

.item.i4:nth-child(4n) {
    margin-right: 0;
}

.read_more_new .item {
    min-height: 200px;
    box-shadow: 0px 3px 5px #E6E6E6;
}

.read_more_new .item h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

.read_more_new .item .info {
    padding: 7px;
}

.white {
    border: 1px solid #05b0f4;
    color: #05b0f4;
    background-color: #fff;
}

.news_post_author {
    width: 100%;
    float: left;
    padding:
}

.news_post_author .new_author_info .author_photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.news_post_author .new_author_info {
    padding: 15px;
}

.news_post_author .new_author_info .author_name {
    font-size: 24px;
    color: #05b0f4;
    margin-top: 10px;
    text-transform: capitalize;
}

.news_post_author .new_author_info p {
    font-size: 18px;
}

.author_more_post .item {
    width: 100%;
    float: left;
    box-shadow: 0px 2px 6px #e6e6e6;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.author_more_post .item figure {
    margin: 0;
}

.author_more_post .item img {
    width: 100px;
    float: left;
}

.author_more_post .item .heading {
    color: #000;
    padding: 10px 10px 10px 110px;
    font-size: 13px;
}

.may_also_like {
    width: 100%;
    float: left;
    border-bottom: 1px solid #000;
}

.may_also_like h2 {
    background-color: #05b0f4;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.may_also_like h2 span {
    background-color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
}

.may_also_like .item {
    width: 25%;
    float: left;
    padding: 0 5px;
    border-right: 1px solid #000;
}

.may_also_like .item:nth-child(4n) {
    border-right-width: 0;
}

.may_also_like .item h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}


.review_list {
    width: 100%;
    float: left;
}

.review_list .item {
    padding: 20px 0;
    background-color: #fff;
    margin: 0;
}

.review_list .item:nth-child(2n) {
    background-color: #f1f1f1;
}

.review_list .item .item_details {
    width: 100%;
    float: left;
    min-height: 300px;
    background-color: #fff;
    background-size: contain !important;
    box-shadow: 0 3px 6px #e6e6e6;
}

.review_list .item .item_details .info,
.review_list .item .item_details .video {
    float: left;
}

.review_list .item .item_details .video a {
    margin-top: 125px;
    display: inline-block;
    color: #fff;
    border: 3px solid #fff;
    padding: 20px;
    font-size: 32px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.review_list .item .item_details .video {
    width: 40%;
    text-align: center;
}

.review_list .item .item_details .info {
    width: 32%;
    padding: 40px 15px 0 40px;
}

.review_list .item .item_details .info .product_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.review_list .item .item_details .info .short_info {
    font-size: 12px;
    margin-bottom: 15px;
}

.review_list .item .item_details .info .crit {
    font-size: 14px;
    margin-bottom: 15px;
}

.review_list .item .item_details .info .price_list li {
    color: #a40000;
    font-size: 12px;
    font-weight: bold;
}

.review_list .item .item_details .info .price_list li a {
    font-weight: normal;
}

.review_list .item .item_details .info .price_list li.best {
    color: #05b0f4;
}

.review_list .item .item_details .review_rating_div {
    width: 25%;
    float: left;
    min-height: 260px;
    margin: 20px 0;
    border: 1px solid #e6e6e6;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.review_list .item .item_details .review_rating_div {
    position: relative;
}

.review_list .item .item_details .review_rating_div .hexagon {
    margin: 14.43px auto
}

.review_list .item .item_details .review_rating_div .rate {
    position: absolute;
    top: 40px;
    left: 46%;
    font-weight: bold;
    z-index: 1;
    color: #fff;
}

.review_list .item .item_details .review_rating_div .rating_star {
    margin-top: 20px;
    display: inline-block;
}

.review_list .item .item_details .review_rating_div .rating_star li {
    float: left;
    font-size: 18px;
    color: #05b0f4;
}

.review_list .item .item_details .review_rating_div .rating_details {
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    padding: 20px 0 10px;
}

.review_list .item .item_details .review_rating_div .rating_details li {
    float: left;
    width: 25%;
    text-align: center;
}

.review_list .item .item_details .review_rating_div .rating_details li span {
    font-size: 10px;
}


/* Review details page */
.review_pros_cons {
    width: 100%;
    float: left;
    padding: 20px 30px 0;
}

.review_pros_cons h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.review_pros_cons .pros h3 {
    color: #37cc8e;
}

.review_pros_cons .cons h3 {
    color: #e33439;
}

.review_pros_cons .product_image {
    width: 35%;
    float: left;
}

.review_pros_cons .product_info {
    width: auto;
    overflow: hidden;
    padding-left: 10%;
    position: relative;
    min-height: 285px;
}

.review_pros_cons .product_info .price_list ul li {
    font-size: 12px;
    font-weight: bold;
    color: #1691cb;
}

.review_pros_cons .product_info .price_list {
    position: absolute;
    bottom: 0;
    right: 0;
}

.review_pros_cons .product_info .price_list ul li a {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.rating_star li {
    float: left;
    color: #05b0f4;
}

.review_pros_cons .pros ul li i {
    color: #02de00;
}

.review_pros_cons .cons ul li i {
    color: #fe0002;
}

.review_pros_cons ul li i {
    float: left;
    position: absolute;
    top: 2px;
    left: 0;
}

.review_pros_cons ul li {
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

h3 {
    font-weight: bold;
}

a {
    color: red;
}

.border_right {
    border-right: 1px solid #e6e6e6;
}


#back-top {
    width: 40px;
    height: 40px;
    z-index: 999;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    border: 3px solid #2191c0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    color: #2191c0;
    line-height: 36px;
    font-size: 24px;
}

@media (min-width: 1200px) {
    /* .container {
      max-width: 1254px;
  } */
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
    }

    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: .25rem;
        width: 30%;
    }

    .masthead {
        /* height: 100vh; */
        padding: 0;
    }

}

/*news-letter-area start*/
.news-letter-area{
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 100px 0;
  background: url(../img/bg/video-bg.jpg) center/cover no-repeat;
}
.news-letter-area:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 110%;
  width: 100%;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.49) 0%, rgb(5, 117, 183) 100%);
}
.news-latter-content{
  text-align: center;
  margin-top: 300px;
}
.news-latter-content h4{
      font-size: 40px;
    color: #fff;
    letter-spacing: 0;
    font-weight: 700;
    margin-bottom: 10px;
}
.news-latter-content p{
      color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.news-latter-content form{
  margin-top: 50px;
}
.news-latter-content input{
      height: 40px;
    width: 300px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 33px;
    padding-left: 20px;
    color: #fff!important;
    letter-spacing: 0;
    outline: none;
    box-shadow: none;
    margin-right: 15px;
}

.news-latter-content input::-webkit-input-placeholder {
  color: #fff;
}
.news-latter-content input::-moz-placeholder {
  color: #fff;
}
.news-latter-content input:-ms-input-placeholder {
  color: #fff;
}
.news-latter-content input:-moz-placeholder {
  color: #fff;
}
.news-latter-content button{
    height: 40px;
    padding: 10px 40px;
    background: #2196f3;
    border-radius: 33px;
    color: #fff;
    letter-spacing: 0;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    cursor: pointer;
}
.news-latter-content button:hover{
  background: #10336b;
}

/*news-letter-area end*/

/*prod-slider area start*/
.prod-slider-area{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 120px 0 0;
   background: url(../img/bg/video-bg.jpg) center/cover no-repeat;
}
.prod-slider-area:before{
   content: '';
   position: absolute;
   left: -3%;
   top: -3%;
   height: 106%;
   width: 106%;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.19) 0%, rgba(68,68,68,1) 100%);
   filter: blur(4px);
   -o-filter: blur(4px);
   -ms-filter: blur(4px);
   -moz-filter: blur(4px);
   -webkit-filter: blur(4px);
}
.prod-slide-item{
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.prod-slide-item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 110%;
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.08) 30%, rgb(10, 10, 10) 100%);
}
.prod-slide-item h2 a{
      position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.prod-slider .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    color: #fff!important;
    font-size: 29px!important;
    outline: none;
    box-shadow: none;
}
.prod-slider .owl-nav .owl-next{
  left: auto;
  right: 35px;
}
.bg-none{
      color: #2a93c7;
    background: transparent;
    border: 2px solid #2a93c7;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 13px;
}

/*prod-slider area end*/

/*best pick area start*/
.active-color .exo-menu>li>a{
  color: #000!important;
}
.allLink.text-up{
  text-transform: uppercase;
  font-weight: 600;
  color: #05b0f4;
}
/*best pick area end*/
.common_div .review-d-title{
      font-size: 25px;
}
.common_div .review-d-item{
  font-size: 25px;
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding: 13px 0;
}

.rating_rates i{
  color: #1691cb;
}

.revs-pd-table th{
  font-weight: 700;
  color: #000;
  border-top: none;
}
.revs-pd-table th:first-child{
  border-left-color: transparent;
}
.revs-pd-table th:last-child{
  border-right-color: transparent;
}
.revs-pd-table td{
  font-weight: 500;
  color: #000;
}

/*search page start*/
.post_categories-title{}
.post_categories-title h4{
  font-size: 15px;
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
}
.post_categories-title h4 span{
      color: #0d77ad;
    margin-right: 6px;
}
.post_categories-title h2{
      font-size: 55px;
      margin-bottom: 23px;
}
.post_categories-title h3{
      font-size: 19px;
    font-weight: 600;
  margin-bottom: 20px;
}
.content-type-ttl{

  font-size: 15px;
    text-transform: uppercase;
    color: #0d77ad;
    font-weight: 700;
}
ul.post_categories li a{
  display: block;
    padding: 10px 0;
}
ul.post_categories li a:hover{
  background: #eeeeee;
  padding-left: 10px;
}
ul.post_categories li a h4{
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
ul.post_categories li a:hover h4{
  color: #000;
  font-weight: 700;
}
ul.post_categories li a h4 span{
      color: #666;
}

/*results_post_list*/
.search-result-item{
  margin-bottom: 20px;
  overflow: hidden;
}
.search-result-item figure{
  float: left;
  max-width: 25%;
  margin-right: 20px;
}
.search-result-item .content{
  overflow: hidden;
}
.search-result-item .cate-title{
      text-transform: uppercase;
    color: #444;
    font-weight: 400;
    font-size: 12px;
}
.search-result-item .content h3 a{
  display: block;
      color: #222;
    font-size: 24px;
    font-weight: 600;
}
.search-result-item .content p{
  font-weight: 500;
  color: #333;
  font-size: 15px;
}
.search-result-item .content .author{
      text-transform: uppercase;
    color: #444;
    font-weight: 400;
    font-size: 14px;
}
.search-result-item .content .author span.assetByline{
  font-weight: 700;
}

/*related shop*/
.shop-rlt-pr{
  border: 1px solid #ddd;
}
.shop-rlt-pr .thumb{}
.shop-rlt-pr .content{
  padding: 15px;
}
.shop-rlt-pr .content h2 a{
  font-size: 14px;
    line-height: 21px;
    display: block;
    color: #055eb9;
}
.prod_meta{}
.prod_meta .sp_price{
      font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.prod_meta .sp_price del{
  color: #777;
}
.prod_meta .sp_price img{
  max-width: 60px;
}
.prod_meta .sp_ratings i{
  color: #ceb507;
  font-size: 10px;
}
.prod_meta .sp_ratings span{
  letter-spacing: 0;
  color: #000;
  font-weight: 500;
  font-size: 10px;
}

/*c-price-right*/
.c-price-right{
  text-align: right;
}
.c-price-right h2{
      font-size: 20px;
    font-weight: 700;
    color: #055eb9;
    letter-spacing: 0;
}
.c-price-right span{
      color: #333;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}
.c-price-right ul li{
  font-size: 14px;
    font-weight: 700;
    color: #777;
    letter-spacing: 0;
    margin-bottom: 4px;
}

/*sr_r_form*/
.src-inf-left{
      font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    color: #555;
}
.src-inf-left strong{
  color: #055eb9;
}
.sr_r_form .input-group-text{
    background: transparent;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0;
    color: #777;
    padding-right: 0;
}
.sr_r_form .form-control{
border-left: none;
    width: auto;
    font-size: 12px;
    font-weight: 700;
    color: #444;
}

/*search page end

/*comment-btn-area start*/
.comment-btn-area{
    margin: 30px 0 20px;
}
.comment-btn-area h2{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0;
}
.comment-btn-area button{
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    background: #B80000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.comment-btn-area button:hover{
    background: #FF8B00;
}
.comment-btn-area button i{
    margin-right: 8px;
}

/*comment-btn-area end*/

/*hero-feature-post area start*/
.hero-feature-post{
    padding: 100px 0 50px;
    position: relative;
    z-index: 1;
    background: url(../img/bg/video-bg.jpg) center/cover no-repeat;
}
.hero-feature-post:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}
.hero-p-content{
    text-align: center;
    margin-bottom: 30px;
}
.hero-p-content h3{
        font-size: 42px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.hero-p-content h5{
        font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.review-hero-meta{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
}
.hfp-content h2{
    text-align: center;
        font-size: 30px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.hfp-content p{
    text-align: center;
        font-size: 14px;
    color: #c3bdbd;
    text-transform: uppercase;
}
.hfp-content .divider{
    height: 1px;
    width: 100%;
    margin: 12px 0;
    background: #ddd;
}
.hfp-content h5{
        font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 0;
}
.hfp-content span{
        font-size: 14px;
    color: #c3bdbd;
}
.hfp-content h6{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.hfp-content h6 i{
    margin-left: 2px;
}
.where-to-buy >strong{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 16px;
    display: block;
    overflow: hidden;
}
.where-to-buy >strong a{
    float: right;
    color:#fff;
}
.where-to-buy ul{}
.where-to-buy ul li{
    overflow: hidden;
    margin-bottom: 8px;
}
.where-to-buy ul li strong{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0;
}
.where-to-buy ul li span{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    margin-left: 15px;
}
.where-to-buy ul li a{
        float: right;
    height: 31px;
    padding: 0 18px;
    background: #1691cb;
    color: #fff;
    line-height: 31px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.15em;
    border-radius: 5px;
}
.where-to-buy p.text{
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

/*hero-feature-post area end*/

/*comment-box-area start*/
.comment-box-area{
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 650px;
    max-width: 50%;
    background: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.67, -0.4, 0.01, 1.63) 0s;
    -o-transition: all 0.5s cubic-bezier(0.67, -0.4, 0.01, 1.63) 0s;
    transition: all 0.5s cubic-bezier(0.67, -0.4, 0.01, 1.63) 0s;
    box-shadow: -1px 0 36px rgba(0,0,0,0.2);
}
.comment-box-area.show_hide{
    right: 0;
}
.drawer-close{
    padding: 0 30px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    padding-left: 60px;
    height: 60px;
    line-height: 60px;
}
.drawer-close:before{
    content: '';
    position: absolute;
    left: 26px;
    top: 29px;
    height: 2px;
    width: 20px;
    background: #4c4949;
    transform: rotate(45deg);
}
.drawer-close:after{
    content: '';
    position: absolute;
    left: 26px;
    top: 29px;
    height: 2px;
    width: 20px;
    background: #4c4949;
    transform: rotate(-45deg);
}
.comment-body{
    padding: 30px 20px;
    height: calc( 100% - 60px);
    overflow-y: auto;
}
.comment-body h4.title{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.comment-body p{
    font-size: 14px;
}
.comments{}
.comment-body h4.comments-title {
    font-size: 16px;
    padding-bottom: 5px;
    position: relative;
}
.comment-body h4.comments-title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 2;
    height: 2px;
    width: 81px;
    background: #b80000;
}
.comment-body h4.comments-title:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    height: 2px;
    width: 100%;
    background: #ccc;
}
.comment-share-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-share-filter ul li{
    display: inline-block;

}
.comment-share-filter ul li a{
    display: block;
    background: #3b5998;
    color: #fff;
    padding: 1px 9px;
    font-size: 12px;
    border-radius: 4px;
}
.comment-share-filter ul li a:hover{
    background: #1f3e7d;
}
.comment-share-filter ul li a.twitter{
    background: #00aced;
}
.comment-share-filter ul li a.twitter:hover{
    background: #1f8db7;
}
.comment-share-filter ul li a i{
    margin-right: 6px;
    color: #fff;
}

.comments-filter select{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 600;
    color: #444;
    letter-spacing: 0;
}
.comments-form{
    margin-top: 20px;
}
.form-controll{
    margin-bottom: 30px;
}
.form-thumb{
    width: 50px;
    margin-right: 20px;
    float: left;
}
.form-box-content{
    overflow: hidden;
}
.form-box-content textarea{
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    padding-left: 11px;
    padding-top: 5px;
    font-weight: 600;
}
.comment-meta-top .username {
        font-size: 13px;
    letter-spacing: 0;
    color: #b80000;
    font-weight: 600;
    margin-bottom: 5px;
}
.comment-meta-top .username span{
        display: inline-block;
    margin-left: 10px;
    color: #777;
    font-size: 12px;
    letter-spacing: 0;
}
.comment-meta-top p{
    font-size: 15px;
    line-height: 20px;
}
.cmnt-meat-reply{}
.cmnt-meat-reply li{
    display: inline-block;
}
.cmnt-meat-reply li a{
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 600;
}
.cmnt-meat-reply li a:hover{
    color: #b80000;
}
.cmnt-meat-reply li a i{
    margin-left: 3px;
    font-size: 10px;
}

/*related-post*/
.related-post{
        padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.related-post h4{
        font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}
.related-s-post{
    margin-bottom: 20px;
}
.related-s-post h2>a{
        display: block;
    font-size: 16px;
    font-weight: 700;
}
.rsp-meta-btm{}
.rsp-meta-btm li{
    display: inline-block;
}
.rsp-meta-btm li a{
    display: block;
    font-size: 12px;
    letter-spacing: 0;
    color: #777;
    margin-right: 9px;
    position: relative;
}
.rsp-meta-btm li a:before{
    content: '';
    position: absolute;
    right: -11px;
    top: 7px;
    height: 5px;
    width: 5px;
    background: #ccc;
    border-radius: 50%;
}
.rsp-meta-btm li:last-child a:before{
    display: none;
}
.rsp-details{
    overflow: hidden;
    margin-top: 10px;
}
.rsp-details .thumb{
    float: left;
    width: 40px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.rsp-details .cont{
    overflow: hidden;
}
.rsp-details .cont .auth {
        font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
    color: #888;
    float: left;
    position: relative;
    padding-right: 20px;
}
.rsp-details .cont .auth:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 1px;
    width: 15px;
    background: #777;
}


/*comment-box-area end*/

/*profile-details-area start*/
.profile-details-area{
    margin-top: 100px;
}
.profile-info{}
.crumbs-link{
    margin-bottom: 10px;
}
.crumbs-link li{
    display: inline-block;
}
.crumbs-link li a{
        display: block;
    font-size: 15px;
    font-weight: 500;
    color: #777;
    letter-spacing: 0;
    position: relative;
    margin-right: 12px;
}
.user-name{
            font-size: 42px;
    font-weight: 700;
    color: #333;
    letter-spacing: 0;
    margin-bottom: 21px;
}
.profile-info h5{
    font-size: 15px;
    letter-spacing: 0;
    color: #555;
    font-weight: 600;
}
.profile-info h5 strong{
        font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ea3030;
}
.profile-user-thumb{
        width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
}

.account-settings{}
.acc-setting-tab{
        border-bottom: 1px solid #ded6d6;
}
.acc-setting-tab a{
        background: #eeeeee;
    font-weight: 700;
    padding: 8px 16px;
    color: #555;
    margin-left: 10px;
    border: 1px solid #ded6d6;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
.acc-setting-tab a.active{
    color: #ea3030;
}
.acc-setting-tab a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: -1;
    height: 102%;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.acc-setting-tab a.active:before{
    visibility: visible;
    opacity: 1;
}
.card{}
.card-body{}
.account-info-details{}
.single-aid{
    overflow: hidden;
    margin-bottom: 21px;
}
.aid-title{
    float: left;
    margin-right: 15px;
    min-width: 161px;
    text-align: right;
}
.aid-title h4{
    font-size: 18px;
        color: #ea3030;
    letter-spacing: 0;
    font-weight: 700;
}
.aid-title.title-big h4{
    font-size: 24px;
}
.aid-title h4 span{
    color: #444;
    font-weight: 600;
}
.aid-body{
    overflow: hidden;
}
.aid-body span{
        color: #888;
    letter-spacing: 0;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}
.aid-body .edit-btn{
        float: right;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}
.aid-body .edit-btn i{
    margin-right: 4px;
    color: #bfbaba;
    font-size: 12px;
}
.aid-body img{
        max-width: 150px;
    float: left;
    margin-right: 15px;
}
.aid-body p{}
.aid-body h4{
        display: inline-block;
}
.interest-list{}
.interest-list li{
    width: 50%;
    float: left;
}
.interest-list li input,
.aid-body input{
    float: left;
    margin-top: 5px;
    margin-right: 7px;
}


/*profile-details-area end*/

/* deals-promotions-area start */
.deals-promotions-area{
   position: relative;
   z-index: 1;
   padding: 125px 0 60px;
   background: url(../img/bg/video-bg.jpg) center/cover no-repeat;
}
.deals-promotions-area:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   height: 100%;
   width: 100%;
   opacity: 0.7;
   background: #000;
}
.deals-title{
   text-align: center;
}
.deals-title h1{
   color: #fff;
}
.deals-title p{
   color: #fff;
   font-weight: 300;
}
.deals-item h5 a{
   display: block;
   color: #fff;
   font-size: 16px;
   margin-top: 10px;
}

.deals-slider .owl-nav button{
   position: absolute;
   left: -40px!important;
   top: 50%!important;
   color: #fff!important;
   font-size: 24px!important;
   transform: translateY(-50%);position: absolute;
   left: 0;
   top: 50%;
   outline: none;
   box-shadow: none;
}
.deals-slider .owl-nav .owl-next{
   left: auto!important;
   right: -40px!important;
}

/* deals-promotions-area end */